/**
* ROOT STYLE
*/

body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    margin-block: 0px !important;
}

button {
    cursor: pointer;
}

.italic {
    font-style: italic;
}

.font-light {
    font-weight: 300;
}

.font-normal {
    font-weight: 400;
}

.font-medium {
    font-weight: 500;
}

.font-bold {
    font-weight: 700;
}

.font-black {
    font-weight: 900;
}

.bg-dark {
    background-color: #1F2937 !important;
}

.bg-quote {
    background-color: #E5E7EB !important;
}

.text-center {
    text-align: center;
}

.text-xl {
    font-size: 48px;
    line-height: 120%;
}

.text-lg {
    font-size: 36px;
}

.text-md {
    font-size: 24px;
}

.text-sm {
    font-size: 18px;
}

.bg-cta {
    background-color: #3882F6;
}

.text-base {
    color: #1F2937;
}

.text-secondary {
    color: #E5E7EB;
}

.text-hero {
    color: #F9FAF8;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    padding: 8px 16px;
    border: none;
}


/**
* HEADER STYLE
*/

.header,.footer {
    background-color: #1F2937 !important;
}

.header {
    padding: 8px;
}
.header>*,.info-section>*,.quote-section>* {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
}

/**
* NAVBAR STYLE
*/

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.navbar-nav {
    display: flex;
    gap: 8px;
}

.nav-link {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.nav-link:hover {
    color: #3882F6;
}

/**
* HERO STYLE
*/

.hero {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 24px;
}

.hero-image {
    height: 200px;
    width: 100%;
}

/* Info section */
.illustration-list {
    display: flex;
    align-items: center;
    gap: 8px;
}

.illustration-container {
    border: 2px solid #3882F6;
    border-radius: 5px;
    width: 100px;
    height: 100px;
}

.illustration-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

