/**
* ROOT STYLE
*/

body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0.2rem 0px;
}

button {
    cursor: pointer;
}

.italic {
    font-style: italic;
}

.font-light {
    font-weight: 300;
}

.font-black {
    font-weight: 900;
}

.bg-dark {
    background-color: #1F2937 !important;
}

.bg-quote {
    background-color: #E5E7EB !important;
}

.text-center {
    text-align: center;
}

.text-xl {
    font-size: 48px;
    line-height: 120%;
}

.text-lg {
    font-size: 36px;
}

.text-md {
    font-size: 24px;
}

.text-sm {
    font-size: 18px;
}

.bg-cta {
    background-color: #3882F6;
}

.text-base {
    color: #1F2937;
}

.text-secondary {
    color: #E5E7EB;
}

.text-hero {
    color: #F9FAF8;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    padding: 8px 16px;
    border: none;
}

/* GENERAL STYLING */
header,
footer {
    background-color: #1F2937 !important;
}

header>*,
.info-section>*,
.quote-section>*,
.cta {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
}


/**
* HEADER STYLE
*/
header {
    padding: 8px;
    margin-bottom: 32px;
}

/** navbar section */
header>nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 72px;
}

nav>.logo {
    font-size: 24px;
    color: #F9FAF8;
}

nav>.navbar-nav {
    display: flex;
    gap: 8px;
}

.navbar-nav>.nav-link {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.navbar-nav>.nav-link:hover {
    color: #3882F6;
}

/** hero section */
header>.hero {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 24px;
}

.hero>.hero-content>button {
    margin-top: 8px;
}

.hero>.hero-image {
    height: 200px;
    width: 100%;
}

/* Info section */
.illustration-list {
    display: flex;
    align-items: center;
    gap: 8px;
}

.illustration-container {
    border: 2px solid #3882F6;
    border-radius: 5px;
    width: 100px;
    height: 100px;
}

.illustration-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* Quote section */
.quote-section {
    padding: 24px 24px;
    margin-top: 32px;
}

.quote-author {
    text-align: end;
    font-size: 18px;
    font-weight: 900;
}

/* CTA section */
.cta {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    padding: 8px;
    margin-top: 32px;
    border-radius: 10px;
    color: #F9FAF8;
}

.cta-button>button {
    border: 1px solid #F9FAF8;
}

/* Footer section */
footer {
    color: #F9FAF8;
    text-align: center;
    margin: 24px 0px;
    padding: 24px;
}